<!DOCTYPE html>
<!-- 
@Author Zac Almas & Austin Driver	
	
Page used by admins to make sure they want to delete a post
-->
<html xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/adminTemplate">
<head>
	<meta charset="utf-8">
	<link th:href="@{/styles/admin.css}" rel="stylesheet"/>
</head>

<body>
	<div layout:fragment="content">
		<!-- Navbar -->
		<div th:replace="layouts/returnNav"/>
		
		<h1 style="text-align: center;">Are you sure you want to delete this post?</h1>
		<br />
		<div style="border: 1px solid black; margin:auto; padding:1px; width:50%;">
			<h5 th:text="${blog.userid}" style="text-align: center;">author</h5>
			<h3 th:text="${blog.title}" style="text-align: center;">title</h3>
			<h3 th:text="${blog.body}" style="text-align: center;">Body</h3>
			
			<a class="btn btn-primary ms-auto" th:href="@{/admin/function/doDelete/{id}(id=${blog.id})}">Delete</a>
		</div>
		<br />
	</div>
</body>

</html>