<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/signedInTemplate">
<head>
	<meta charset="utf-8">
		<link th:href="@{../styles/snowSportsCss.css}" rel="stylesheet"/>

</head>



<body>
	<div layout:fragment="content">
		
		<div class="Content">
			<div class="card2">
		      <div class="blogTitle">
			      <h2>Your Blog has been posted!</h2>
			      <h5>The contents of your blog is:</h5>
			      <h5 th:text="${blog.title}">title</h5>
			      <h5 th:text="${blog.body}">name</h5>
				  <h5 th:text="${blog.userid}">user</h5>
		      </div>
		    </div> 
		    
		    <a th:href="@{/timeline/}" class="btn btn-primary ms-auto">Return to timeline</a>
		</div>
	</div>
</body>

</html>