<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/signedInTemplate">

<head>
	<meta charset="utf-8">
	<link th:href="@{../styles/snowSportsCss.css}" rel="stylesheet" />
</head>

<body>

</body>
<div layout:fragment="content">
	<div class="page-content">
		<h3>Welcome</h3>
		<h3 th:text="${user.username}"></h3>
	</div>
	<br />

	<tbody>
		<div style="border: solid black;">
			<tr th:each="post : ${blog}">
				<div style="border: solid black;">
					<td style="text-align:center">
						<h5 th:text="${post.title}">title</h5>
					</td>
					<td style="text-align:center">
						<h5 th:text="${post.body}">body</h5>
					</td>
				</div>
			</tr>
		</div>
	</tbody>
</div>

</html>